.center-div{
    margin: auto;
    text-align: center;
}

.center-div.mdl-cell{
    text-align: center;
}

a {
    font-weight: bold;
    text-decoration: none;
}

.left-text{
    text-align: center;

}

.mdl-layout__header-row{
    padding-left: 3%;
}

.wide-mdl-card{
    width: 512px;
}

.demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
}

.demo-card-square > .mdl-card__title {
    color: #fff;
    background: bottom right 15% no-repeat #46B6AC;
}