.center-div{
    margin: auto;
    text-align: center;
}

.center-div.mdl-cell{
    text-align: center;
}

a {
    font-weight: bold;
    text-decoration: none;
}

.left-text{
    text-align: center;

}

.mdl-layout__header-row{
    padding-left: 3%;
}